aioboto3==12
fsspec
openai~=1.14
pandas==2
pydantic==2
s3fs
streamlit>=1.36
tiktoken==0.7.0

#langchain
langchain-community
langchain
langchain_core
langchain-openai

cfn_flip
cfn-lint
ipykernel
notebook
openpyxl
beautifulsoup4
pyarrow
litellm
protobuf>=4.21.6,<5.0.0
pypdf>=4