aioboto3==12
fsspec
openai~=1.14
pandas==2
pydantic  # 2.12.0
s3fs
streamlit>=1.36
tiktoken==0.7.0

#langchain
langchain-community==0.3.31
langchain==0.3.27
langchain_core==0.3.79
langchain-openai==0.3.35

cfn_flip
cfn-lint
ipykernel
notebook
openpyxl
beautifulsoup4
pyarrow
litellm  # 1.77.7
protobuf>=4.21.6,<5.0.0
pypdf>=4